// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body {
  font-family: lato, helvetica, sans-serif;
}

.blank_slate_container {
  img + img {
    margin-left: 16px;
  }
}

.optionsPanel {
  input[type="checkbox"] {
    position: relative;
    bottom: 1px;
    margin-right: 2px;
  }

  label {
    font-size: 125%;
  }
}

.statistic {
  font-size: 125%;
  margin: 8px 0;
}

.reportList {
  font-size: 125%;
  margin-bottom: 16px;
}

.reportListItem {
  margin-top: 8px;
}

.formatLink {
  position: relative;
  bottom: 3px;
  padding: 3px;
  font-size: 75%;
  font-weight: bold;
  border-radius: 3px;
  color: white !important;
  text-decoration: none !important;
  margin-left: 4px;
}

.formatLink-html {
  @extend .formatLink;
  background-color: rgb(70, 70, 220);
}

.formatLink-pdf {
  @extend .formatLink;
  background-color: rgb(220, 100, 70);
}

.formatLink-csv {
  @extend .formatLink;
  background-color: rgb(100, 180, 70);
}

.reportName {
  display: inline-block;
  width: 14em;
}
