// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media print {
  body {
    margin: 0;
  }
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');

body {
  margin: 5em;
  font-family: helvetica;
  font-size: 10pt;
  font-family: lato, helvetica, sans-serif;
}

thead {
  font-weight: bold;
}

tbody > tr:nth-child(odd) {
  background-color: #eaf0fa;
}

td.ralign {
  text-align: right;
}

hr {
  margin: 2em 0;
  border: 0;
  border-top: 1px solid #cfcfcf;
}

.repCode {
  position: relative;
  bottom: 2px;
  display: inline-block;
  padding: 0 6px;
  margin-right: 0.5em;
  border-radius: 3px;
  line-height: 1.25em;
  color: white;
  background-color: lightgray;
  font-size: 75%;
}

.reportHeading {
  img {
    margin-right: 10px;
  }
}

.total {
  font-weight: bold;
}

section {
  page-break-inside: avoid;
}

.break-after {
  page-break-after: always;
}

.summary {
  page-break-before: always;
}
