<!DOCTYPE html>
<html>
  <head>
    <title>Commission Reporter</title>
    <%= wicked_pdf_stylesheet_link_tag 'report', media: 'all' %>
    <%= wicked_pdf_stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato&display=swap', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
